dx17test/.vs/dx17test/v15/Server/sqlite3/db.lock
dx17test/.vs/dx17test/v15/Server/sqlite3/storage.ide
dx17test/dx17test/obj/Debug/dx17test.csproj.FileListAbsolute.txt
dx17test/.vs/dx17test/v15/Server/sqlite3/storage.ide-shm
dx17test/.vs/dx17test/v15/Server/sqlite3/storage.ide-wal
